name: release-pipeline

on:
  push:
    tags:
      - "discord-test"

jobs:
  build-release-upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: discord notification
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d @discord_update.json \
                 "$DISCORD_WEBHOOK"
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}